<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	
	<context:annotation-config/>
	
	<bean id="b" class="bean.DB">
		<property name="id" value="123"></property>
		<property name="Parent" value="Rakesh"></property>
	</bean>
	<bean id="p" class="persion.Persion">
		<property name="kid" value="Kumar"></property>
		
	</bean>

</beans>